<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=@team_name%></h1>

	<h2>Team Motto: <%=@team_motto%></h2>

		<%@params["team"]["members"].each do |hero|%>
			
			<h2>Hero Name: <%= hero["name"]%></h2>

			<h3>Hero Power: <%= hero["power"]%></h3>
			<h3>Hero Biography: <%= hero["biography"]%></h3>
			
		<%end%>



</body>
</html>


